.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-computer {
  width: 0.78125em;
}

.icon-customer-service {
  width: 0.78125em;
}

.icon-customer-support {
  width: 0.78125em;
}

.icon-network {
  width: 0.78125em;
}

.icon-payouts {
  width: 0.78125em;
}

.icon-reward {
  width: 0.78125em;
}

.icon-trophy {
  width: 0.78125em;
}

.icon-ui {
  width: 0.78125em;
}

.icon-web-design {
  width: 0.78125em;
}
