/* Colors */

@Gray: #616368;
@DarkBlue: #242f51;
@Blue: #2500f9;
@LightBlue: #2563ff;
@Red: #f55767;
@Green: #40975f;

/* Fonts */

@font-face {
    font-family: Poppins; /* Имя шрифта */
    src: url(../fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Poppins-SemiBold; /* Имя шрифта */
    src: url(../fonts/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Poppins-Bold; /* Имя шрифта */
    src: url(../fonts/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
    font-weight: 700;
    font-style: normal;
}


/* Subclasses */
/*
.wrapper {
    max-width: 1600px;
    position: relative;
    box-sizing: content-box;
    margin: 0 auto;
}
*/

img {
    pointer-events: none;
    &::selection {
        background: transparent;
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}



div.try_for_free_btn {
    flex-basis: 170px;
    height: 60px;
    background: @Blue;
    border-radius: 60px;
    text-align: center;
    line-height: 60px;
    transition: .3s;
    cursor: pointer;
    &:hover {
        background: @DarkBlue;
        
    }
    a {
        color: white;
        font-family: Poppins-Bold;
        font-size: 16px;
        text-decoration: none;
    }
}



/* Animations */

@keyframes number_one_app {
    0% {
        transform: scaleY(1);
        transform: translate(-50%, -50%);
    }
    10% {
        transform: translate(-50%, -50%) scaleY(0.3);;
    }
    20% {
        transform: translate(-50%, -50%)  scaleY(1);
    }
    50% {
        position: absolute;
        transform: translate(-50%, -120px);
    }
    80% {
        position: absolute;
        transform: translate(-50%, -120px) rotateY(360deg);
    }
    100% {
        transform: translate(-50%, -50%);
        position: absolute;
    }
}

@keyframes shining {
    0% {
        -webkit-box-shadow: -2px 0px 66px 18px rgba(37, 0, 249, 0.35);
        -moz-box-shadow: -2px 0px 66px 18px rgba(37, 0, 249, 0.35);
        box-shadow: -2px 0px 66px 18px rgba(37, 0, 249, 0.35);
    }
    50% {
        -webkit-box-shadow: -2px 0px 66px 36px rgba(37, 0, 249, 0.6);
        -moz-box-shadow: -2px 0px 66px 36px rgba(37, 0, 249, 0.6);
        box-shadow: -2px 0px 66px 36px rgba(37, 0, 249, 0.6);
    }
    100% {
        -webkit-box-shadow: -2px 0px 66px 18px rgba(37, 0, 249, 0.35);
        -moz-box-shadow: -2px 0px 66px 18px rgba(37, 0, 249, 0.35);
        box-shadow: -2px 0px 66px 18px rgba(37, 0, 249, 0.35);
    }
}

@keyframes shiningSmall {
    0% {
        -webkit-box-shadow: -2px 0px 66px 9px rgba(37, 0, 249, 0.35);
        -moz-box-shadow: -2px 0px 66px 9px rgba(37, 0, 249, 0.35);
        box-shadow: -2px 0px 66px 9px rgba(37, 0, 249, 0.35);
    }
    50% {
        -webkit-box-shadow: -2px 0px 66px 18px rgba(37, 0, 249, 0.6);
        -moz-box-shadow: -2px 0px 66px 18px rgba(37, 0, 249, 0.6);
        box-shadow: -2px 0px 66px 18px rgba(37, 0, 249, 0.6);
    }
    100% {
        -webkit-box-shadow: -2px 0px 66px 9px rgba(37, 0, 249, 0.35);
        -moz-box-shadow: -2px 0px 66px 9px rgba(37, 0, 249, 0.35);
        box-shadow: -2px 0px 66px 9px rgba(37, 0, 249, 0.35);
    }
}

@keyframes circleSpawn {
    0% {
        border: 2px solid @Blue;
        opacity: 100%;
    }
    50% {
        width: 200px;
        height: 200px;
        opacity: 50%;
    }
    100% {
        width: 50px;
        height: 50px;
        opacity: 0%;
    }
}

@keyframes whiteBlock {
    0% {
        height: 300px;
    }
    100% {
        display: none;
        top: -300px;
        height: 0px;
    }
}

body {
    position: relative;
    overflow-x: hidden;
}

.dark_theme_button {
    z-index: 100;
    cursor: pointer;
    display: flex;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: @DarkBlue;
    justify-content: center;
    align-items: center;
    transition: 1s;
    svg {
        transition: 1s;
        width: 35px;
        height: 35px;
    }
    &.light {
        background: white;
    }
}

nav.mobile {
    z-index: -1;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    a {
        display: block;
        position: relative;
        color: white;
        font-family: Poppins;
        text-decoration: none;
        margin-bottom: 50px;
        font-size: 19px;
        height: 25px;
        overflow:hidden;
        transition: .5s;
        &::after {
            transition: .5s;
            transition-timing-function: cubic-bezier(0,0,0.58,1);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: white;
        }
        &:hover {
            color: #f55303;
        }
    }
    &.active {
        z-index: 5;
        a {
            &::after {
                left: 100%;
            }
        }
    }
}

svg.icon-cancel.men {
    cursor: pointer;
    transition: .5s;
    z-index: -1;
    position: fixed;
    top: 1150px;
    right: 10vw;
    width: 20px;
    height: 20px;
    fill: white;
    &.active {
        z-index: 5;
        top: 50px;
    }
}

.animBlockWrapper {
    z-index: 5;
    position: absolute;
    display: none;
    width: 250px;
    height: 300px;
    overflow: hidden;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    .animBlock {
        width: 100%;
        height: 100%;
        background-color: white;
    }
}

.partner_card_wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100vw;
    z-index: 10;
    background: transparent;
    transition: .5s;
    &.active {
        background: rgba(36, 47, 81, .7);
        left: 0;
        .partner_card {
            top: 50%;
            transition-delay: .5s;
        }
    }
    .partner_card {
        transition: .5s;
        width: 35%;
        display: inline-flex;
        flex-direction: column;
        position: fixed;
        top: -500px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px 0;
        @media screen and (max-width: 1200px) {
            width: 70%;
        }
        @media screen and (max-width: 530px) {
            padding: 20px 20px;
            width: 80%;
        }
        img {
            margin: 0 auto 30px;
            width: 20%;
            &.expanded {
                width: 50%;
            }
        }
        h3 {
            text-align: center;
            font-family: Poppins-SemiBold;
            color: @DarkBlue;
            font-size: 20px;
            margin-bottom: 15px;
        }
        p {
            text-align: center;
            font-size: 18px;
            color: @Gray;
            line-height: 26px;
            font-family: Poppins;
        }
        div.sources {
            margin: 0 auto;
            margin-top: 15px;
            width: 50%;
            height: auto;
            display: flex;
            justify-content: space-around;
            a {
                svg {
                    width: 36px;
                    height: 36px;
                    fill: #616368;
                    transition: .5s;
                    &:hover {
                        fill: #0AACFC;
                    }
                }
            }
        }
        svg.icon-cancel {
            width: 30px;
            height: 30px;
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 10;
            fill: #616368;
            transition: .5s;
            cursor: pointer;
            &:hover {
                fill: #242f51;
            }
            @media screen and (max-width: 530px) {
                width: 20px;
                height: 20px;
            }
        }
    }
}


html body.darkmode--activated {
    .partner_card_wrapper {
        &.active {
            background: rgba(245, 83, 3, .7);
            
        }
        .partner_card {
            background: #000;
            h3 {
                color: #dbd0ae;
            }
            p {
                color: #9e9c97;
            }
            .sources {
                svg {
                    fill: #9e9c97;
                    transition: .5s;
                    &:hover {
                        fill: #f55303;
                    }
                }
            }
            svg.icon-cancel {
                fill: #9e9c97;
                &:hover {
                    fill: #dbd0ae;
                }
            }
        }
    }
}
/* Header */

header {
    margin: 0;
    background-color: #fdfdfe;
    position: relative;
    &.dark {
        background: #000;
        .wrapper {
            background: #000;
            #topPanel {
                nav {
                    a.nav_link {
                        color: #f6ebd1;
                        &::selection {
                            background: #f55303;
                            color: black;
                        }
                        &:hover {
                            color: #f55303;
                        }
                    }
                }
                svg.icon-menu {
                    fill: #f6ebd1;
                }
            }
            #main {
                #content {
                    h1 {
                        color: #dbd0ae;
                        &::selection {
                            background: #f55303;
                            color: black;
                            font-size: 50px;
                        }
                    }
                    p {
                        color: #9e9c97;
                        &::selection {
                            background: #f55303;
                            color: black;
                        }
                    }
                    .btns {
                        a.try_for_free_btn {
                            &::selection {
                                background: transparent;
                            }
                            &:hover {
                                background: #e5ff52;
                            }
                        }
                    }
                }
            }
        }
    }
    .wrapper {
        max-width: 90%;
        box-sizing: padding-box;
        position: relative;
        margin: 0 auto;
        padding-top: 50px;
        background-color: #fdfdfe;
        #topPanel {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 65px;
            span.logo {
                flex-basis: 200px;
                z-index: 1;
                display: inline-flex;
                font-size: 30px;
                font-family: Poppins-Bold;
                color: @DarkBlue;
                span.yellow {
                    color: #fcae61;
                }
            }
            svg.icon-menu {
                display: none;
            }
            nav {
                display: flex;
                flex-basis: 690px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-family: Poppins;
                margin-left: 10px;
                a {
                    display: inline-flex;
                    text-decoration: none;
                    color: @DarkBlue;
                    transition: color .3s;
                    font-size: 22px;
                    &:hover {
                        color: blue;
                    }
                }
                a.try_for_free_btn {
                    text-decoration: none;
                    display: block;
                    cursor: pointer;
                    font-family: Poppins-Bold;
                    padding: 30px 60px;
                    font-size: 26px;
                    color: white;
                    background: @Blue;
                    border-radius: 40px;
                    outline: none;
                    border: none;
                    transition: 0.5s;
                    &:hover {
                        background: darken(@Blue, 15%);
                    }
                    
                    
                }
            }
            @media screen and (max-width: 1100px) {
                nav {
                    display: none;
                }
                svg.icon-menu {
                    cursor: pointer;
                    display: block;
                    width: 50px;
                    height: 50px;
                    fill: @DarkBlue;
                    margin-right: 10px;
                }
            }
        }

        .mobile_menu {
            transition: .5s;
            width: 0;
            height: 0;
        }
        @media screen and (max-width: 1100px) {
            .mobile_menu.active {
                position: fixed;
                top: 0;
                right: 0;
                z-index: 2;
                background: #09142e;
                width: 100vw;
                height: 100vh;
                justify-content: center;
                align-items: center;
                svg {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 50px;
                    height: 50px;
                    fill: white;
                }
            }
        }

        #main {
            margin: 65px 70px 0 70px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 1100px) {
                margin: 65px 10px 0 10px;
            }
            #phone_image {
                z-index: 1;
                flex-basis: 50%;
                display: flex;
                justify-content: center;
                @media screen and (max-width: 1100px) {
                    display: none;
                }
            }
            #content {
                z-index: 1;
                flex-basis: 50%;
                @media screen and (max-width: 1100px) {
                    flex-basis: 100%;
                }
                .editors_choice {
                    background: #e2eaed;
                    border-radius: 35px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;
                    max-width: 360px;
                    &:hover {
                        div {
                            background: @DarkBlue;
                            svg.icon-ok {
                                fill: darken(#feaa25, 10%);
                                animation: number_one_app 2s cubic-bezier(0,.99,.3,1.03);
                                animation-delay: 0.5s;
                            }
                        }
                    }
                    div {
                        margin-right: 10px;
                        display: inline-block;
                        min-height: 35px;
                        min-width: 40px;
                        border-radius: 35px;
                        background: #feaa25;
                        position: relative;
                        transition: 0.5s;
                        svg.icon-ok {
                            transition: color 0.5s;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            fill:white;
                            width: 25px;
                        }
                    }
                    p {
                        vertical-align: center;
                        margin: 0;
                        display: inline-block;
                        font-size: 18px;
                        color: @DarkBlue;
                        font-family: Poppins;
                        @media screen and (max-width: 490px) {
                            font-size: 3.5vw;
                        }
                    }
                }
                h1 {
                    line-height: 80px;
                    font-size: 50px;
                    font-family: Poppins-SemiBold;
                    color: @DarkBlue;
                    margin-bottom: 40px;
                    @media screen and (max-width: 530px) {
                        font-size: 35px;
                        line-height: 60px;
                    }
                }
                p {
                    line-height: 30px;
                    font-size: 16pt;
                    font-family: Poppins;
                    color: @Gray;
                }
                .btns {
                    max-width: 350px;
                    margin-top: 40px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    span {
                        font-size: 12pt;
                        font-family: Poppins;
                        @media screen and (max-width: 480px) {
                            display: none;
                        }
                        a {
                            transition: .5s;
                            color: @Blue;
                            text-decoration: none;
                            &:hover {
                                color: darken(@Blue, 15%);
                            }
                        }
                    }
                    a.try_for_free_btn {
                        text-decoration: none;
                        display: flex;
                        cursor: pointer;
                        font-family: Poppins-Bold;
                        padding: 20px 35px;
                        font-size: 30px;
                        color: white;
                        background: @Blue;
                        border-radius: 40px;
                        outline: none;
                        border: none;
                        transition: 0.5s;
                        align-items: center;
                        &:hover {
                            background: darken(@Blue, 15%);
                        }
                        @media screen and (max-width: 530px) {
                            padding: 15px 25px;
                            font-size: 22px;
                        }
                        svg {
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;
                            fill: white;
                        }
                    }
                }
            }
        }

    }
    .bg {
        width: 100%;
        position: absolute;
        overflow: hidden;
        margin: 0;
        bottom: -50px;
        left: 0;
        z-index: 0;
        max-height: 245px;
        display: flex;
        img {
            max-height: 230px;
            &:not(:first-child) {
                margin-left: -10px;
            }
        }
    }
    .bg_extended {
        pointer-events: none;
        min-width: 100%;
        bottom: -50px;
        left: 0;
        position: absolute;
        z-index: 0;
    }
}

section#why_chess {
    margin: 130px 15px 15px;
    .wrapper {
       max-width: 1075px;
       margin: 0 auto;
        .head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;
            flex-wrap: wrap;
            @media screen and (max-width: 860px) {
                display: block;
            }
            @media screen and (max-width: 895px) {
                margin-bottom: 30px;
            }
            h1 {
                margin: 0;
                display: block;
                flex-basis: 450px;
                font-family: Poppins;
                font-size: 40px;
                line-height: 50px;
                font-weight: 600;
                color: @DarkBlue;
            }
            span.sep {
                display: block;
                flex-basis: 1px;
                height: 150px;
                opacity: 0.38;
                background-color: #4b4a48;
                @media screen and (max-width: 900px) {
                    display: none;
                }
            }
            p {
                margin: 0;
                flex-basis: 400px;
                font-family: Poppins;
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
                color: @Gray;
                @media screen and (max-width: 900px) {
                    margin-top: 20px;
                }
                em {
                    font-style: normal;
                    color: @DarkBlue;
                }
            }
        }
    }
}

article#features_and_companies {
    margin-top: 120px;
    background-color: #ffffff;
    border-bottom: 2px solid #f4f4f4;
    section#trusted {
        .wrapper {
            margin: 0 auto;
            max-width: 77%;
            text-align: center;
            p {
                font-size: 14pt;
                font-family: Poppins;
                color: @DarkBlue;
            }
            div.companies_wrapper {
                display: flex;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                div {
                    margin-top: 40px;
                    flex-basis: 170px;
                    padding: 0 20px;
                    img {
                        width: 100%;
                    }
                }
                
            }
        }
    }
    section#features {
        margin: 0 auto;
        overflow: hidden;
        .wrapper {
            max-width: 1075px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 10%;
            @media screen and (max-width: 430px){
                margin-left: 5px;
            }
            .image {
                margin-right: 35px;
                background-position: center center;
                background-size: contain;
                flex-basis: 44%;
                height: 575px;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                }
                @media screen and (max-width: 920px){
                    display: none;
                }
            }
            .info {
                flex-basis: 430px;
                h2 {
                    font-size: 36px;
                    font-family: Poppins;
                    font-weight: 600;
                    color: @DarkBlue;
                    margin-top: 0;
                    
                }
                h5 {
                    font-family: Poppins;
                    font-size: 16px;
                    line-height: 26px;
                    color:@Gray;
                }
                .features_container {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    font-family: Poppins;
                    color: @Gray;
                    .feature {
                        justify-content: space-between;
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 65px;
                        &:nth-child(1) {
                            .logo {
                                background-color: #ffecef;
                                svg {
                                    fill: @Red;
                                }
                            }
                            .text {
                                h6 {
                                    color: @Red;
                                }
                            }
                        }
                        &:nth-child(2) {
                            .logo {
                                background-color: #f4f4ff;
                                svg {
                                    fill: @Blue;
                                }
                            }
                            .text {
                                h6 {
                                    color: @Blue;
                                }
                            }
                        }
                        &:nth-child(3) {
                            .logo {
                                background-color: #e4ffee;
                                svg {
                                    fill: @Green;
                                }
                            }
                            .text {
                                h6 {
                                    color: @Green;
                                }
                            }
                        }
                        .logo {
                            min-width: 90px;
                            height: 90px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            svg {
                                width: 58px;
                            }
                            @media screen and (max-width: 430px){
                                margin-right: 5px;
                            }
                        }
                        .text {
                            flex-basis: 280px;
                            h6 {
                                font-family: Poppins;
                                font-size: 20px;
                                font-weight: 600;
                                margin: 10px 0;
                            }
                            p {
                                line-height: 26px;
                                display: inline;
                                margin: 0;
                                font-family: Poppins;
                                font-size: 16px;
                                color: @Gray;
                            }
                        }
                    }
                }
            }
        }
    }

    

    section#jackpots {
        margin-top: 60px;
        margin-bottom: 50px;
        @media screen and (max-width: 1100px) {
            padding: 0px 5px;
            margin-top: 0px;
        }
        .wrapper {
            max-width: 1075px;
            margin: 0 auto;
            .head {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 60px;
                flex-wrap: wrap;
                @media screen and (max-width: 860px) {
                    display: block;
                }
                @media screen and (max-width: 895px) {
                    margin-bottom: 30px;
                }
                h1 {
                    margin: 0;
                    display: block;
                    flex-basis: 450px;
                    font-family: Poppins;
                    font-size: 40px;
                    line-height: 50px;
                    font-weight: 600;
                    color: @DarkBlue;
                }
                span.sep {
                    display: block;
                    flex-basis: 1px;
                    height: 150px;
                    opacity: 0.38;
                    background-color: #4b4a48;
                    @media screen and (max-width: 900px) {
                        display: none;
                    }
                }
                p {
                    margin: 0;
                    flex-basis: 400px;
                    font-family: Poppins;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 400;
                    color: @Gray;
                    @media screen and (max-width: 900px) {
                        margin-top: 20px;
                    }
                    em {
                        font-style: normal;
                        color: @DarkBlue;
                    }
                }
            }
            .jackpot_items {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                @media screen and (max-width: 895px) {
                    justify-content: space-around;
                }
                .jackpot {
                    flex-basis: 290px;
                    @media screen and (max-width: 895px) {
                        margin-top: 70px;
                    }
                    h4 {
                        margin: 0;
                        font-family: Poppins;
                        font-size: 20px;
                        line-height: 58px;
                        font-weight: 600;
                    }
                    p {
                        margin: 0;
                        font-family: Poppins;
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 400;
                        color:@Gray;
                    }
                    .logo {
                        width: 88px;
                        height: 88px;
                        border-radius: 50%;
                        background: red;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 24px;
                        font-family: Poppins-Bold;
                    }
                    h4 {
                        margin-top: 20px;
                        font-size: 24px;
                        line-height: 32px;
                    }
                    &:nth-child(1) {
                        h4 {
                            color:@Red;
                        }
                        .logo {
                            background-color: #ffecef;
                            color: @Red;
                        }
                    }
                    &:nth-child(2) {
                        h4 {
                            color:@LightBlue;
                        }
                        .logo {
                            background-color: #f4f4ff;
                            color: @LightBlue;
                        }
                        
                    }
                    &:nth-child(3) {
                        h4 {
                            color:@Green;
                        }
                        .logo {
                            background-color: #e4ffee;
                            color: @Green;
                        }
                    }
                }
            }
        }
    }
    section#designed_and_built {
        display: block;
        width: 100%;
        margin-top: 30px;
        .wrapper {
            display: flex;
            max-width: 1120px;
            align-items: center;
            margin: 0 auto;
            @media screen and (max-width: 550px) {
                margin-left: 0;
            }
            .img {
                flex-basis: 50%;
                img {
                    object-fit: cover;
                    width: 100%;
                }
                @media screen and (max-width: 835px) {
                    display: none;
                }
            }
            
            .info {
                flex-basis: 400px;
                margin-left: 115px;
                @media screen and (max-width: 1055px) {
                    margin-right: 15px;
                }
                @media screen and (max-width: 550px) {
                    margin-left: 15px;
                }
                h2 {
                    font-family: Poppins-SemiBold;
                    font-size: 46px;
                    color: @DarkBlue;
                    margin: 0 0 30px 0;
                    padding: 0;
                    line-height: 56px;
                }
                p {
                    color: @Gray;
                    font-size: 22px;
                    font-family: Poppins;
                    padding: 0;
                    margin: 0;
                    line-height: 36px;
                }
                a.try_for_free_btn {
                    transition: .5s;
                    display: block;
                    margin-top: 40px;
                    font-family: Poppins-Bold;
                    padding: 20px 40px;
                    font-size: 16px;
                    color: white;
                    background: @Blue;
                    border-radius: 30px;
                    outline: none;
                    border: none;
                    width: -moz-fit-content;
                    text-decoration: none;
                    &:hover {
                        background: darken(@Blue, 15%);
                    }
                }
            }
        }
    }
}

article#reasons_and_prices {
    margin-top: 140px;
    border-bottom: 2px solid #f4f4f4;
    section#why_choose_app {
        width: 100%;
        margin-bottom: 140px;
        .wrapper {
            margin: 0 auto;
            max-width: 1170px;
            padding: 0px 180px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (max-width: 1215px) {
                padding: 0 15px;
            }
            h1 {
                max-width: 440px;
                font-family: Poppins-SemiBold;
                font-size: 36px;
                line-height: 46px;
                color: @DarkBlue;
                margin-bottom: 25px;
            }
            h5 {
                text-align: center;
                max-width: 100%;
                font-family: Poppins;
                font-size: 22px;
                line-height: 26px;
                color: @Gray;
                margin-bottom: 85px;
            }
            .reasonsGrid {
                padding: 0px 10px;
                display: flex;
                width: 100%;
                gap: 100px 70px;
                align-content: center;
                justify-content: center;
                flex-wrap: wrap;
                @media screen and (max-width: 800px) {
                    gap: 40px 80px;
                }
                @media screen and (max-width: 530px) {
                    flex-basis: 30%;
                    width: 100%;
                    gap: 40px 50px;
                }
                .reason {
                    flex-basis: 15%;
                    @media screen and (max-width: 800px) {
                        flex-basis: 20%;
                    }
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    justify-self: center;
                    align-self: center;
                    a {
                        
                    }
                    div.logo_wrapper {
                        width: 100%;
                        height: 120px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
                        transition: .3s;
                        &:hover {
                            transform: translateY(-20px);
                        }
                        a {
                            display: block;
                            width: 100%;
                            img {
                                width: 100%;
                                object-fit: cover;
                                pointer-events: auto;
                                
                            }
                        }
                        &.expanded {
                            width: 150%;
                        }
                        &.not_changable {
                            a {
                                display: block;
                                width: 100%;
                                img {
                                    width: 50%;
                                }
                            }
                        }
                        &.not_changable::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 140px;
                            height: 140px;
                            border-radius: 50%;
                            background: #0AACFC;
                            @media screen and (max-width: 1110px) {
                                width: 120px;
                                height: 120px;
                            }
                            @media screen and (max-width: 530px) {
                                width: 80px;
                                height: 80px;
                            }
                        }
                        &.animated {
                            background: black;
                            animation: shining 2.5s infinite;
                            @media screen and (max-width: 1110px) {
                                width: 120px;
                                height: 120px;
                                a {
                                    img {
                                        width: 120px;
                                        height: 120px;
                                    }
                                }
                            }
                            @media screen and (max-width: 530px) {
                                width: 80px;
                                height: 80px;
                                a {
                                    img {
                                        width: 80px;
                                        height: 80px;
                                    }
                                }
                                animation: shiningSmall 2.5s infinite;
                            }
                        }
                    }
                }
            }
        }
    }
    section#timy {
        width: 100%;
        margin-bottom: 190px;
        .wrapper {
            margin: 0 auto;
            max-width: 1170px;
            padding: 0px 180px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (max-width: 1215px) {
                padding: 0 15px;
            }
            h1 {
                max-width: 440px;
                font-family: Poppins-SemiBold;
                font-size: 36px;
                line-height: 46px;
                color: @DarkBlue;
                margin-bottom: 25px;
            }
            h5 {
                text-align: center;
                max-width: 100%;
                font-family: Poppins;
                font-size: 22px;
                line-height: 26px;
                color: @Gray;
            }
            .reasonsGrid {
                display: grid;
                grid-template-columns: repeat(3, min-max(220px, 1fr));
                grid-template-rows: repeat(2, min-max(220px, 1fr));
                gap: 70px 80px;
                .reason {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    div.logo_wrapper {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 35px;
                        img {
                            width: 300%;
                            object-fit: cover;
                        }
                    }
                    h3 {
                        font-family: Poppins-SemiBold;
                        color: @DarkBlue;
                        font-size: 20px;
                        margin-bottom: 25px;
                    }
                    p {
                        font-size: 16px;
                        color: @Gray;
                        line-height: 26px;
                        font-family: Poppins;
                    }
                }
            }
        }
    }
    section#ultimate_features {
        margin-left: 15%;
        margin-bottom: 170px;
        .wrapper {
            display: flex;
            flex-direction: row;
            max-width: 1350px;
            height: auto;
            overflow-x: hidden;
            .info {
                flex-basis: 650px;
                margin-right: 30px;
                h1 {
                    max-width: 320px;
                    font-size: 36px;
                    line-height: 46px;
                    color: @DarkBlue;
                    font-family: Poppins-SemiBold;
                    margin-bottom: 25px;
                }
                p {
                    max-width: 400px;
                    font-family: Poppins;
                    font-size: 16px;
                    line-height: 26px;
                    color: @Gray;
                    margin-bottom: 60px;
                }
                .features_grid {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    gap: 65px 100px;
                    @media screen and (max-width: 1100px) {
                        gap: 65px 50px;
                    }
                    @media screen and (max-width: 430px) {
                        grid-template-columns: repeat(1, 1fr);
                        grid-template-rows: repeat(1, 1fr);
                    }
                    .feature_item {
                        .logo {
                            width: 90px;
                            height: 90px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #ffecef;
                            margin-bottom: 30px;
                            svg {
                                width: 70%;

                            }
                        }
                        &:nth-child(2) {
                            .logo {
                                background: #e4ffee;
                            }
                        }
                        &:nth-child(3) {
                            .logo {
                                background: #fff6d3;
                            }
                        }&:nth-child(4) {
                            .logo {
                                background: #f4f4ff;
                            }
                        }
                        h6 {
                            font-size: 20px;
                            line-height: 28px;
                            margin-bottom: 10px;
                            color: @DarkBlue;
                            font-family: Poppins-SemiBold;
                        }
                    }

                }
                a.try_for_free_btn {
                    text-decoration: none;
                    display: block;
                    cursor: pointer;
                    font-family: Poppins-Bold;
                    padding: 20px 40px;
                    font-size: 16px;
                    color: white;
                    background: @Blue;
                    border-radius: 40px;
                    outline: none;
                    border: none;
                    transition: 0.5s;
                    width: -moz-fit-content;
                    &:hover {
                        background: darken(@Blue, 15%);
                    }
                }
                
            }
            .img {
                align-self: center;
                min-height: 700px;
                flex-basis: 690px;
                background: url(../files/ultimate_features/Ellipse\ 6.svg);
                background-repeat: no-repeat;
                position: relative;
                @media screen and (max-width: 835px) {
                    display: none;
                }
                img.phone1 {
                    height: 80%;
                    position: absolute;
                    bottom: -10%;
                    left: 10%;
                    transform: translate(-10%, -10%) rotate(-25deg);
                }
                img.phone2 {
                    height: 95%;
                    position: absolute;
                    bottom: -10%;
                    right: 0%;
                    transform: rotate(5deg);
                }
            }
        }
    }
    section#prices {
        .wrapper {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding: 0px 5px;
            h1 {
                max-width: 575px;
                font-size: 36px;
                line-height: 46px;
                color: @DarkBlue;
                font-family: Poppins-SemiBold;
                margin-bottom: 40px;
            }
            p {
                max-width: 635px;
                font-size: 16px;
                line-height: 26px;
                color: @Gray;
                font-family: Poppins;
                margin-bottom: 80px;
            }
            div.mode_swap {
                box-sizing: padding-box;
                width: 280px;
                height: 54px;
                padding: 2px;
                border: 2px solid #ebebeb;
                
                border-radius: 30px;
                position: relative;
                .container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    span {
                        cursor: default;
                        transition: .5s;
                        z-index: 1;
                        border-radius: 30px;
                        height: 100%;
                        flex-basis: 50%;
                        line-height: 52px;
                        font-family: Poppins;
                        color: #929396;
                        &.active {
                            color: white;
                        }
                    }
                }
                span.blue_back {
                    transition: 0.5s;
                    margin: 2px;
                    position: absolute;
                    width: 140px;
                    height: 54px;
                    background: @Blue;
                    border-radius: 30px;
                    top: 0;
                    left: 0;
                }
            }
            div.prices {
                width: 100%;
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: start;
                flex-wrap: wrap;
                
                .price_card {
                    flex-basis: 310px;
                    margin-right: 45px;
                    box-shadow: 0px 0px 32px 5px rgba(34, 60, 80, 0.2);
                    @media screen and (max-width: 695px) {
                        margin-left: 45px;
                        margin-right: 45px;
                        margin-top: 30px;
                    }
                    @media screen and (max-width: 430px) {
                        margin-left: 5px;
                        margin-right: 5px;
                        margin-top: 30px;
                    }
                    &.last {
                        margin-right: 0;
                        @media screen and (max-width: 695px) {
                            margin-right: 45px;
                        }
                        @media screen and (max-width: 430px) {
                            margin-right: 0;
                        }
                    }
                    &.annually {
                        display: none;
                    }
                    .main {
                        background: #f9fbfc;
                        padding-top: 65px;
                        padding-bottom: 40px;
                        h1 {
                            font-size: 18px;
                            line-height: 28px;
                            font-family: Poppins;
                            color: #999ca5;
                            margin-bottom: 30px;
                            em {
                                font-size: 60px;
                                line-height: 58px;
                                font-family: Poppins-SemiBold;
                                color: @DarkBlue;
                                font-style: normal;
                            }
                        }
                        h5 {
                            font-family: Poppins-SemiBold;
                            font-size: 20px;
                            line-height: 28px;
                            color: @DarkBlue;
                        }
                        p {
                            margin-bottom: 0;
                        }
                    }
                    .info {
                        padding-top: 40px;
                        padding-bottom: 25px;
                        ul {
                            list-style-type: none;
                            padding-left: 0;
                            li {
                                margin-bottom: 35px;
                                color: #999ca5;
                                font-size: 16px;
                                font-family: Poppins;
                            }
                        }
                        a.try_for_free_btn {
                            max-width: 200px;
                            margin: 0 auto;
                            text-decoration: none;
                            display: block;
                            cursor: pointer;
                            font-family: Poppins-Bold;
                            padding: 20px 40px;
                            font-size: 16px;
                            color: white;
                            background: @Blue;
                            border-radius: 40px;
                            outline: none;
                            border: none;
                            transition: 0.5s;
                            &:hover {
                                background: darken(@Blue, 15%);
                            }
                        }
                        span {
                            display: block;
                            margin-top: 25px;
                            font-size: 16px;
                            font-family: Poppins;
                            a {
                                color: @Blue;
                                text-decoration: none;
                                &:visited {
                                    color: @Blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    padding-top: 70px;
    padding-bottom: 75px;
    background: #09142e;
    text-align: center;
    h1 {
        margin-bottom: 55px;
        font-size: 30px;
        font-family: Poppins-Bold;
        color: white;
        span {
            color: #fcae61;
        }
    }
    nav {
        margin: 0 auto;
        max-width: 600px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        a {
            flex-basis: 190px;
            height: 40px;
            line-height: 40px;
            transition: .5s;
            display: inline-block;
            color: white;
            font-size: 22px;
            font-family: Poppins;
            text-decoration: none;
            @media screen and (max-width: 530px) {
                font-size: 16px;
                margin: 0 5px;
            }
            &:hover {
                color: #f55303;
            }
        }
    }
    nav.social {
        margin-top: 30px;
        max-width: 170px;
        justify-content: space-around;
        a {
            line-height: 30px;
            height: 30px;
            &:hover {
                transform: none;
                svg {
                    height: 45px;
                    width: 45px;
                }
            }
            svg {
                transition: .5s;
                fill: white;
                height: 40px;
                width: 40px;
            }
        }
    }
    p {
        opacity: 0.21;
        color: white;
        font-family: Poppins;
        font-size: 14px;

    }
}

//dark theme preferences

html body.darkmode--activated footer {
        nav {
            a {
                &:hover {
                    color: #f55303;
                }
            }
        }
    }


